@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes glowingAura {
  0%, 100% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.12);
    opacity: 0.9;
  }
}
